    <!--///////////////////////////////////////////////////////

    // Footer section

    //////////////////////////////////////////////////////////-->

    <div class="footer row-back">
      <div class="w-container wrap-normal center">
        © <strong>Open Door Coworking</strong> 2015 <a href="privacy.php" target="_blank">Privacy Policy</a>
      </div>
    </div>
    <!--///////////////////////////////////////////////////////

    // End Footer section

    //////////////////////////////////////////////////////////-->

    <!-- START JQUERY PLUGINS LOAD -->
    <script src="/js/jquery.js"></script>
    <script src="/js/modernizr.js"></script>
    <script src="/js/normal.js"></script>
    <script src="/js/carousels.js"></script>
    <script src="/js/jquery.stellar.js"></script>
    <script src="/js/classie.js"></script>
    <script src="/js/jquery.mixitup.js"></script>
    <script src="/js/testimonials.js"></script>
    <script src="/js/jquery.nicescroll.js"></script>
    <script src="/js/rotating-text.js"></script>
    <script src="/js/jquery.magnific-popup.js"></script>
    <script src="/js/headhesive.min.js"></script>
    <script src="/js/waypoints.min.js"></script>
    <script src="/js/contact.js"></script>
    <script src="/js/lightbox.min.js"></script>
    <script src="/js/scripts.js"></script>

    <!-- END JQUERY PLUGINS LOAD -->
