<div tabindex="1000" style="overflow-y: auto;" id="boxscroll">

      <!-- CHANGEABLE UNIQUE SECTOIN ID -->
      <section id="home">

        <!-- START FIXED HEADER DIV -->
        <div class="banner">
          <!-- START CONTAINER -->
          <div class="w-container container">
            <div class="w-row">

              <!-- START COLUMN 3 -->
              <div class="w-col w-col-2 logo">
                <!-- START LOGO -->
                <a href="#"><img src="/images/opendoorcowork.png" alt="Open Door Coworking" onload="ga('send', 'event', 'page', 'load', 'Version <?php print $version; ?>');"></a>
                <!-- END LOGO -->
              </div><!-- END COLUMN 3 -->

              <!-- START COLUMN 9 -->
              <div class="nav-col w-col w-col-10">

                <!-- START NAVIGATION -->
                <div class="w-nav navbar" data-collapse="medium" data-animation="default" data-duration="400" data-contain="1">
                  <div class="w-container nav">
                    <!-- START CONTAINER -->

                    <!-- START NAVIGATION LINKS -->
                    <nav class="w-nav-menu nav-menu" role="navigation">

                      <a class="w-nav-link menu-li " href="/#home" onclick="ga('send', 'event', 'menu', 'Click', 'Home');">HOME</a>
                      <a class="w-nav-link menu-li" href="/index.html#learn" onclick="ga('send', 'event', 'menu', 'Click', 'Learn More');">LEARN MORE</a>
                      <a class="w-nav-link menu-li" href="/index.html#amenities" onclick="ga('send', 'event', 'menu', 'Click', 'Benefits');">BENEFITS</a>
                      <a class="w-nav-link menu-li" href="/index.html#membership" onclick="ga('send', 'event', 'menu', 'Click', 'Membership');">MEMBERSHIP</a>
                      <a class="w-nav-link menu-li" href="/index.html#contact" onclick="ga('send', 'event', 'menu', 'Click', 'Contact');"> CONTACT </a>
                      <a class="w-nav-link menu-li" href="http://goo.gl/forms/ook9usnqsn" target="_blank" onclick="ga('send', 'event', 'menu', 'Click', 'Tour');"> SCHEDULE TOUR </a>
                      <a class="w-nav-link menu-li social-nav" href="http://www.facebook.com/opendoorcoworking" onclick="ga('send', 'event', 'menu', 'Click', 'Facebook');"> <i class="facebookelegance-icons-"></i> </a>
                      <a class="w-nav-link menu-li social-nav" href="http://www.twitter.com/opendoorcowork" onclick="ga('send', 'event', 'menu', 'Click', 'Twitter');"> <i class="twitter-birdelegance-icons-"></i> </a>
                      <a class="w-nav-link menu-li social-nav" href="https://www.linkedin.com/company/open-door-coworking" onclick="ga('send', 'event', 'menu', 'Click', 'Linkedin');"> <i class="linkedinelegance-icons-"></i> </a>

                    </nav>
                    <!-- END NAVIGATION LINKS -->

                    <!-- START MOBILE NAVIGATION BUTTON * DO NOT DELETE THIS DIV* -->
                    <div class="w-nav-button">
                      <div class="w-icon-nav-menu"></div>
                    </div><!-- END MOBILE NAVIGATION BUTTON -->

                  </div>
                  <!-- END CONTAINER -->
                </div>
                <!-- END NAVIGATION -->
              </div>
              <!-- END COLUMN 9 -->
            </div>
          </div>
          <!-- END CONTAINER -->
        </div>
        <!-- END FIXED HEADER DIV -->
      </section>
      <!-- END SECTION -->
    </div>
